/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */ /*This needs to be checked for GDPR compliany*/
body {
    margin: 0;
    transition: all .2s;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
    font-size: 16px;
}

main {
    margin: 0;
    transition: all .2s;
    margin-top: 140px;
}
.main_no_banner {
    padding-top: 60px;
}
.main_content {
    background-color: #ffffff;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 24px;
    margin-bottom: 0;
    transition: all .5s;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0px;
    font-size: 18px;
    /*border: solid 0.1px #cecece;*/
    color: #000000;
    /*border-radius: 14px;
    box-shadow: 0 0  10px 0px #cecece;*/
}
.main_content p {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}
.main_content h1 {
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.general_body_header {
    margin-left: 17%;
    margin-right: 17%;
    transition: all .5s;
    font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.main_content h2 {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}
.main_content h3 {
    padding-left: 16px;
    padding-right: 16px;
    color: #000000;
}
.main_content h4 {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}
.main_content h5 {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}
.main_content h6 {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}
.main_content a {
    padding-left: 16px;
    padding-right: 16px;
    /*font-size: normal;*/
    color: #0481ff;
    transition: all .5s ease;
    text-decoration: none;
}
.main_content a:hover {
    color: #0152a3;
}
.main_content hr {
    display: none;
    margin-left: 16px;
    margin-right: 16px;
    color: green;
    background-color: green;
    border: solid green 0.1px;
}
footer p {
    margin-left: 26px;
    margin-right: 26px;
}
#navbar {
    display: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    /*background-color: rgba(0, 0, 0, 0);*/
    background-color: #f8f8f8;
    transition: all 1s;
    height: 54px;
    z-index: 2;
    vertical-align: middle;
}
#mobile_navbar {
    display: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    /*background-color: rgba(0, 0, 0, 0);*/
    background-color: #f8f8f8;
    transition: all 1s;
    height: 54px;
    z-index: 2;
    vertical-align: middle;
}

#sidebar {
    background: #fbfbfb;
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0;
    width: 0;
    padding: 20px 0;
    transition: all .2s ease;
    overflow: hidden;
    /*border-right: #f6f6f6 solid 1px;*/
    /*box-shadow: 0 0  4px 0px #f6f6f6;*/
    z-index: 1;
}
#menu {
/*    display: none;

    transition: all .2s;
    overflow: hidden;
    box-shadow: 0 0  8px 0px #505050;
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
    width: 100%;
    float: left;
    top: 0;
    margin-top: 0;
    position: fixed;
    z-index: 1;*/
    background: #fbfbfb;
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0;
    width: 0;
    padding: 20px 0;
    transition: all .2s ease;
    overflow: hidden;
    /*border-right: #f6f6f6 solid 1px;*/
    /*box-shadow: 0 0  4px 0px #f6f6f6;*/
    z-index: 1;
    width: 0;
}
#menu_content {
    transition: all .2s;
    overflow: hidden;
    border: 0;
    width: 0;
    height: 100%;
}
#menu_button {
    cursor: pointer;
}
#sidebar_content {
    left: 0;
    width: 0;
    border: 0;
    height: 100%;
    overflow: hidden;
    transition: all .2s ease;
}
.navbar_element_type_button {
    background-color: #f8f8f8;
    color: #f8f8f8;
    border: solid 15px #f8f8f8;
    padding: 1px;
    font-size: medium;
    cursor: pointer;
    float: left;
}
.navbar_element {
    background-color: #f8f8f8;
    color: #000000;
    border: solid 16px #f8f8f8;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    margin-left: 2px;
    float: left;
    transition: all .2s ease;
}
.navbar_element:hover {
    color: #0481ff;
}
.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #000000;
    margin: 4px 0;
    transition: 0.4s;
}
.footer_hr {
    width: 18%;
}
.header_title {
    color: #707070;
    font-weight: bolder;
    font-style: italic;
    display: block;
}
.banner {
    object-fit: cover;
    position: relative;
    height: 100vh;
    margin-bottom: 1px;
    
}
.banner_container {
    position: relative;
    text-align: center;
    color: white;
    display: none;
}
.banner_text_centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    text-align: left;
}
.banner_text_centered_header {
    font-size: 160px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0px 50px #000000;
    color: ffffff;
    text-align: left;
}
.banner_text_centered_subheader {
    font-size: 20px;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0px 50px #000000;
    text-align: left;
    background-color: #171717;
    padding: 8px;
}
.banner_text_subcentered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.photo_and_text_container_photo {
    height: 250px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-top: 0;
    border-radius: 8px;
    float: left;
}
.photo_and_text_container {
    height: 270px;
}
.photo_and_text_container_text {
    margin-left: 270px;
    margin-right: 20px;
}
.photo_and_text_main_container_header_sub {
    margin-left: 270px;
    color: #000000;
}
.photo_and_text_main_content_header_hr {
    margin: 0;
    margin-left: 287px;
    margin-right: 16px;
    padding: 0;
    color: rgb(221, 221, 221);
    border: .5px solid rgb(221, 221, 221);
}
.main_content_header_hr {
    margin-left: 16px;
    margin-right: 16px;
    padding: 0;
    margin: 0;
    color: rgb(221, 221, 221);
    border: .5px solid rgb(221, 221, 221);
}
.main_content_more_button {
    background-color: #0481ff;
    color: #ffffff;
    border: solid 2px #0481ff;
    padding: 10px;
    font-size: medium;
    float: right;
    margin-right: 8px;
    border-radius: 2px;
    transition: all .5s ease;
    bottom: 0;
}
.main_content_more_button a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 0;
}
.main_content_more_button:hover {
    background-color: #3097ff;
    cursor: pointer;
    border: solid 2px #3097ff;
}
.main_content_more_button a:hover {
    color: #ffffff;
}
.main_content_more_button2 {
    background-color: #ffffff;
    color: #ffffff;
    border: solid 2px #0481ff;
    padding: 10px;
    font-size: medium;
    margin-right: 8px;
    border-radius: 8px;
    transition: all .5s ease;
    margin-bottom: 10px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    width: 46%;
}
.main_content_more_button2 a {
    color: #0481ff;
    text-decoration: none;
    margin-right: 0;
}
.main_content_more_button2:hover {
    background-color: #3097ff;
    cursor: pointer;
    border: solid 2px #3097ff;
    color: #ffffff;
}
.main_content_more_button2:hover a {
    color: #ffffff;
}
.main_content_more_button2_github {
    border: #333333 2px solid;
    background-color: #ffffff;
}
.main_content_more_button2_github a {
    color: #333333;
}
.main_content_more_button2_github:hover {
    border: #454545 2px solid;
    background-color: #454545;
}
.main_content_about {
    height: auto;
}
.main_container_header_sub {
    color: #000000;
}
.warning_standart {
    background-color: red;
    color: white;
    bottom: 0;
    margin: 0;
    padding: 8px;
}
.two_button_group {
    display: inline-block;
    width: 100%;
    padding-bottom: 8px;
}
ul li p {
  margin-top: 0;  
}
.inline_a {
    margin: 0;
    padding: 0;
}
footer {
    display: block;
    bottom: 0;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 40px;
    color: #303030;
}
footer a {
    display: block;
    text-decoration: none;
    padding: 1px;
    color: #0481ff;
    transition: .5s ease all;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
footer a:hover {
    color: #0152a3;
}
.main_box_seperator {
    margin-left: 17%;
    margin-right: 17%;
}
.general_body_hr {
    text-align: center;
    width: 225px;
    border: 1px solid black;
    color: black;
    background-color: black;
}
hr {
    border: solid .5px lightgrey;
}
.general_body_hr2 {
    display: none;
}
#navbar img {
    display: none;
}
.p_with_inline_a {
    padding-left: 0;
    padding-right: 0;
}
.bottom_shadow {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0px solid #ffffff;
    color: #ffffff;
    background-color: #ffffff;
}
.bottom_shadow_div {
    box-shadow: 5px -20px 35px 55px #ffffff;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.shadow_margin {
    margin: 110px;
}

@media screen and (max-width: 1600px) {
    .main_content h1 {
        font-size: 70px;
    }
}
@media screen and (max-width: 1200px) {
    .banner_text_centered_subheader {
        font-size: 20px;
    }
    .banner_text_centered_header {
        font-size: 85px;
    }

}
@media screen and (max-width: 520px) and (min-width: 340px) {
    .banner_text_centered_header {
        font-size: 60px;
    }
    .photo_and_text_main_content_header_hr {
        display: none;
    }
    .photo_and_text_container_photo {
        float: none;
        width: 95%;
        height: 95%;
        object-fit: cover;
        margin-left: 2.5%;
    }
    .photo_and_text_container_text {
        display: block;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }
    .photo_and_text_main_container_header_sub {
        margin-left: 0;
    }
    .photo_and_text_container {
        height: auto;
    }
    .main_content_about {
        height: auto;
    }
    .main_content_more_button {
        float: none;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 8px;
        width: 98%;
    }
    .main_content_more_button2 {
        float: none;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 8px;
        width: 98%;
    }
}
@media screen and (max-width: 625px) and (min-width: 521px) {
    .main_content_more_button {
        float: none;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 8px;
        width: 98%;
    }
    .main_content_more_button2 {
        float: none;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 8px;
        width: 98%;
    }
    .main_content_about {
        height: 450px;
    }
}
@media screen and (max-width: 1100px) and (min-width: 600px) {
    .main_content { 
        margin-left: 5%;
        margin-right: 5%;
    }
    .general_body_hr {
        width: 90%;
    }
    .general_body_hr2 {
        display: block;
    }
    .general_body_header {
        margin-left: 5%;
        margin-right: 5%;
    }
    .main_content h1 {
        font-size: 60px;
    }
    .main_box_seperator {
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media screen and (max-width: 599px) {
    .main_content { 
        margin-left: 10px;
        margin-right: 10px;
    }
    .general_body_header {
        margin-left: 10px;
        margin-right: 10px;
    }
    .main_content h1 {
        font-size: 62px;
    }
    .general_body_hr {
        width: 98%;
    }
    .main_box_seperator {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (min-width: 1350px) and (max-width: 1650px) {
    .banner_text_centered {
        transform: translate(-80%, -50%);
    }
}
@media screen and (min-width: 700px) and (max-width: 1349px) {
    .banner_text_centered {
        transform: translate(-70%, -50%);
    }
}
@media screen and (min-width: 480px) and (max-width: 699px) {
    .banner_text_centered {
        transform: translate(-60%, -50%);
    }
}
@media screen and (max-width: 510px) {
    .banner_text_centered {
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-width: 450px) and (min-width: 341px) {
    .main_content h1 {
        font-size: 55px;
    }
}
@media screen and (max-width: 340px) {
    .banner_text_centered_header {
        font-size: 35px;
    }
    .main_content_more_button {
        float: none;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 8px;
        width: 98%;
    }
    .main_content_more_button2 {
        float: none;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 8px;
        width: 98%;
    }
    .main_content_about {
        height: 680px;
    }
    .photo_and_text_container_photo {
        float: none;
        width: 95%;
        height: 95%;
        object-fit: cover;
        margin-left: 2.5%;
    }
    .photo_and_text_container_text {
        display: block;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }
    .photo_and_text_main_container_header_sub {
        margin-left: 0;
    }
    .photo_and_text_main_content_header_hr {
        display: none;
    }
    .main_content h1 {
        font-size: 25px;
    }
}
