body {
    background-color: #fafafa;
    color: #121212;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    margin-left: 12%;
    margin-top: 26px;
}
hr {
    color: #ffffff;
    border: #ffffff solid .5px;
    border-radius: 24px;
    display: none;
}
a {
    text-decoration: none;
    color: #000000;
    display: block;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 28px;
}
a:hover {
    color: #0481ff;
}
h1 {
    color: white;
}
p {
    /*color: #696969; /* 69 nice :) */
    color: #505050;
}
.sub_a {
        text-decoration: none;
        color: #696969; /* 69 nice :) */
        transition: .5s ease all;
        font-size: medium;
        font-weight: normal;
}